:root {
  --bleu: #0065fc;
  --bleu_clair: #deebff;
  --gris: #f2f2f2;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

/* HEADER */
header {
  margin: 0px 20px 0px 40px;
}

.grid-header {
  display: grid;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1.1rem;
  margin-bottom: 50px;
}

.grid-header a {
  justify-self: center;
  align-self: center;
  padding-top: 50px;
  text-decoration: none;
}

.grid-header a:nth-child(2),
a:nth-child(3) {
  border-top: 2px solid transparent;
  color: black;
}

.grid-header a:nth-child(2):hover,
a:nth-child(3):hover {
  color: var(--bleu);
  border-top: 2px solid var(--bleu);
}

header a:visited {
  text-decoration: none;
  color: black;
}

#Logo {
  width: 100px;
  margin-top: 28px;
  align-self: center;
}

/* TROUVER VOTRE HEBERGEMENT */

.section-trouver {
  margin-left: 40px;
}
h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: normal;
  margin-top: 10px;
}

.rechercher {
  margin-top: 20px;
}

#formulaire {
  display: flex;
}

.fa-map-marker-alt {
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 15px;
  font-size: 1.1rem;
}

#zone_recherche {
  border: 1px solid #f2f2f2;
  padding: 15px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
}

#zone_recherche:focus {
  outline: none;
}

.button {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  background: #0065fc;
  color: #f2f2f2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px;
  border: 1px #f2f2f2;
  transition: 0.4s;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  transform: scale(1.1);
}

/* FILTRES */
.form_filtres {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
}

.EcoetFami {
  display: flex;
}

.RometAni {
  display: flex;
}

p {
  margin-top: 12px;
  margin-right: 50px;
}

.checkbox_filtres {
  margin-right: 50px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  background: var(--bleu);
  color: #f2f2f2;
}

input[type="checkbox"]:hover + label {
  background: var(--bleu);
}

.form_filtres label {
  cursor: pointer;
  border: 3px solid var(--gris);
  padding: 8px 20px 8px 0px;
  border-left: transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.2s;
  user-select: none;
}

.form_filtres i {
  border: 2px solid var(--gris);
  border-radius: 50%;
  padding: 12px;
  background: var(--bleu_clair);
  color: var(--bleu);
  transform: translateX(-30%);
}

#icon_fin {
  background: white;
  margin-bottom: 10px;
  color: var(--bleu);
  border: solid 1px var(--gris);
  border-radius: 50%;
  height: 22px;
  width: 22px;
  text-align: center;
  font-size: 0.9rem;
  padding-top: 2.5px;
  margin-right: 6px;
}

button {
  border: transparent;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  font-size: 0.9rem;
  transition: 0.2s;
}

.button2 {
  display: none;
}

button:hover {
  color: var(--bleu);
}

/* HEBERGEMENTS + POPULAIRE */
.HebetPop {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px 10px 40px;
}

/* HEBERGEMENTS A MARSEILLE */
#hebergements {
  width: 64%;
  background-color: var(--gris);
  border-radius: 15px;
  padding: 30px 10px 10px 10px;
}

#h2hebergements {
  font-size: 1.4rem;
  margin-left: 30px;
  margin-bottom: 20px;
}

.grid_img_marseille {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 20px 0 30px;
}

.img_marseille {
  background: white;
  border: 1px solid var(--gris);
  border-radius: 15px;
  box-shadow: 2px 7px 8px grey;
  margin: 15px 20px 18px 0;
  transition: 0.3s;
}

.img_marseille:hover {
  transform: scale(1.02);
}

#hebergements img {
  height: 115px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.titre_lieu {
  font-weight: bolder;
  margin-bottom: 3px;
}

#hebergements a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

.stars {
  margin-top: 5px;
  color: var(--bleu);
}

#no_stars {
  color: var(--gris);
}

.text-heb {
  margin: 5px 0 5px 10px;
}

/* LES PLUS POPULAIRES */
.populaire {
  width: 30%;
  background-color: var(--gris);
  border-radius: 15px;
  padding: 30px 10px 10px 10px;
}

.titre_pop {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 20px 20px 30px;
}

#icon_pop {
  font-weight: 900;
  font-size: 1.4rem;
}

.container_populaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 40px;
}

.populaire a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

.flex_pop {
  display: flex;
  margin-bottom: 25px;
  margin-right: 10px;
  margin-top: 18px;
  padding: 2px;
  background: white;
  border: 1px solid var(--gris);
  border-radius: 15px;
  box-shadow: 2px 7px 8px grey;
  transition: 0.3s;
}

.flex_pop:hover {
  transform: scale(1.02);
}

.populaire img {
  width: 40%;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  height: 120px;
  object-fit: cover;
}

.flex_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0 5px 15px;
}

/* ACTIVITES A MARSEILLE */
.activités {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 40px;
}

#h2activités {
  margin: 30px;
}

.flex1 img,
.flex3 img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.flex2 img,
.flex4 img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.img_activités {
  border: 2px solid var(--gris);
  border-radius: 15px;
  background: white;
  box-shadow: 2px 7px 8px grey;
  padding: 2px;
  transition: 0.2s;
}

.img_activités_left {
  border: 2px solid var(--gris);
  border-radius: 15px;
  background: white;
  box-shadow: 2px 7px 8px grey;
  padding: 2px;
  transition: 0.2s;
}

.img_activités:hover,
.img_activités_left:hover {
  transform: scale(1.02);
}

.flex_activités {
  display: flex;
}

.flex1,
.flex3 {
  display: flex;
  margin-left: 30px;
}

.flex2,
.flex4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
  width: 50%;
}

.flex_left {
  width: 50%;
}

.activités a {
  text-decoration: none;
  color: black;
}

.titre_activités {
  padding: 8px 15px 15px 15px;
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

/* FOOTER */
footer {
  background: var(--gris);
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 60px;
}

.flex_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
}

.flex_ap {
  display: flex;
  flex-direction: column;
}

.flex_footer a {
  text-decoration: none;
  font-size: 0.8em;
  color: black;
}

.flex_footer a:hover {
  color: var(--bleu);
  text-decoration: underline;
}

.flex_footer h3 {
  margin: 0px;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 20px;
}

/* RESPONSIVE */
@media screen and (min-width: 998px) and (max-width: 1250px) {
  .HebetPop {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .populaire {
    width: 100%;
    margin-bottom: 15px;
  }

  .flex_pop {
    width: 80%;
    margin-left: 50px;
    padding-right: 20px;
  }

  #hebergements {
    width: 100%;
    margin-top: 15px;
  }

  .grid-header {
    grid-template-columns: 4fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 998px) {
  .HebetPop {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .populaire {
    width: 100%;
    margin-bottom: 15px;
  }

  #hebergements {
    width: 100%;
    margin-top: 15px;
  }

  .form_filtres {
    flex-direction: column;
    margin-top: 8px;
  }

  .grid-header {
    grid-template-columns: 3fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .HebetPop {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 0px;
  }

  .populaire {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 0px;
    margin-right: 0px;
    padding-right: 0px;
  }

  #hebergements {
    width: 100%;
    margin-top: 15px;
    border-radius: 0px;
  }

  .container_populaire,
  .titre_pop {
    margin-left: 0px;
  }

  #h2hebergements {
    margin-left: 0px;
  }

  .grid_img_marseille {
    grid-template-columns: 1fr;
    margin-left: 0px;
  }

  header {
    margin: 0px;
  }

  .grid-header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 30px;
  }

  #Logo {
    margin-left: 40px;
    width: 110px;
  }

  .grid-header a:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
    margin-left: 60px;
    font-size: 1rem;
  }

  .grid-header a:nth-child(2),
  a:nth-child(3) {
    border-bottom: 2px solid transparent;
    color: black;
    padding: 30px 0 15px 0;
    width: 100%;
    display: grid;
    justify-content: center;
    font-size: 0.9rem;
  }

  .grid-header a:nth-child(2):hover,
  a:nth-child(3):hover {
    color: var(--bleu);
    border-bottom: 2px solid var(--bleu);
    border-top: transparent;
  }

  .section-trouver h2 {
    font-size: 1.1rem;
    padding-right: 20px;
  }

  .section-trouver h3 {
    font-size: 0.8rem;
    padding-right: 20px;
  }

  .button {
    display: none;
  }

  .button2 {
    display: inline-block;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.1rem;
    transition: 0.2s;
    border: 2px solid var(--bleu);
    border-radius: 15px;
    padding: 15px;
    background: var(--bleu);
    color: white;
    position: relative;
    right: 20px;
  }

  .form_filtres {
    flex-direction: column;
    margin-top: 10px;
  }

  .EcoetFami {
    font-size: 1rem;
    flex-wrap: nowrap;
    margin-top: 10px;
  }

  .RometAni {
    flex-direction: column;
    font-size: 1rem;
    margin-top: 10px;
  }

  #h2activités {
    margin-left: 0px;
  }
  .activités {
    margin-left: 0px;
    margin-right: 0px;
  }

  .flex_activités,
  .flex1,
  .flex2,
  .flex3,
  .flex4 {
    flex-direction: column;
    margin-left: 0;
  }

  .flex_left {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
  }

  .flex2,
  .flex4 {
    width: 100%;
  }

  .flex_activités img {
    height: 145px;
  }

  .img_activités {
    margin-bottom: 10px;
  }

  .flex_footer {
    flex-direction: column;
  }

  .flex_h,
  .flex_a {
    margin-top: 20px;
  }

  footer {
    margin-right: 0px;
  }
}
